.pulldown-super-wrapper {
    border: 1px solid #d2d9dc;
    box-shadow: 0 6px 20px rgba(20,28,33,.14);
    padding: 30px 40px;
    background: #fff;
    border-top: 0;
}
.pulldown-super-wrapper {
    position: fixed;
    top: calc(-100vh + 500px);
    opacity: 1;
    left: calc(50% - 300px);
    z-index: 99999999;
    background: white;
    width: 600px;
    min-height: 100px;
    padding: 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    transition: all .3s ease;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pulldown-super-wrapper input[type=text] {
    display: block;
    width: 80%;
    line-height: 44px;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 auto;
    color: #000;
    text-transform: none!important;
    font-family: Lato,sans-serif!important;
    font-weight: 400!important;
    border-radius: 4px!important;
    background: #fff!important;
    border: 1px solid rgba(50,66,78,.3)!important;
}
.pulldown-super-wrapper label{
    color: black;
}

.image-pulldown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    transform: translateY(-100%);
    height: 100vh;
    background-color: rgba(0, 0, 0, .54);
    overflow: scroll;
}

.image-pulldown .pulldown-inner {
    border: 1px solid #d2d9dc;
    box-shadow: 0 6px 20px rgba(20,28,33,.14);
    border-top: 0;
    position: fixed;
    top: 0px;
    opacity: 1;
    z-index: 99999999;
    background: white;
    width: 600px;
    min-height: 100px;
    padding: 40px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    transition: all .3s ease;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
