ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
input[type=button], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
}
input[type=file] {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 9999;
}
.header .logo {
    margin: 10px 5px;
    width: 180px;
    vertical-align: middle;
}
.header .name {
    font-size: 16px;
    font-weight: bold;
}
.header .menu {
    padding: 10px;
    background-color: #000;
}
.header .menu input {
    opacity: 0;
}
.header .menu img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.header .button {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    border-radius: 5px 5px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #fff;
    vertical-align: middle;
}
.header .button.disabled img {
    opacity: 0.5;
}
.wrapper {
    position: fixed !important;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .32);
    touch-action: none;
	overflow-y: scroll;
	z-index: 9999;
}

.selector-header {
    position: relative !important;
}

.library-wrapper {
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
    min-height: 100vh;
}