<div class="header">
    <div>
        <span class="name">Image Editor</span>
    </div>
    <div class="menu">
        <button class="button" (click)="goBack()"><span>&lt;</span></button>
        <button class="button disabled" id="btn-undo" (click)="undo(imageEditor)">
            <mat-icon [matBadge]="undos" matBadgePosition="above before">
                <mat-icon style="margin-top: 5px;">undo</mat-icon>
            </mat-icon>
        </button>
        <button class="button disabled" id="btn-redo" (click)="redo(imageEditor)">
            <mat-icon [matBadge]="redos" matBadgePosition="above after">
                <mat-icon style="margin-top: 5px;">redo</mat-icon>
            </mat-icon>
        </button>
        <button class="button" id="btn-remove-active-object"><mat-icon style="margin-top: 5px;">delete</mat-icon></button>
        <button class="button" id="btn-download" (click)="openFinalStep()"><mat-icon style="margin-top: 5px;">cloud_upload</mat-icon></button>
    </div>
</div>
<!-- Image editor area -->
<div class="tui-image-editor"></div>
<!-- Image editor controls - bottom area -->
<div class="tui-image-editor-controls">
    <ul class="scrollable">
        <li class="menu-item">
            <button class="menu-button" id="btn-crop">Crop</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <app-crop-apply-button></app-crop-apply-button>
                    <app-crop-ratio-button [width]="2" [height]="3"></app-crop-ratio-button>
                    <app-crop-ratio-button [width]="4" [height]="3"></app-crop-ratio-button>
                    <app-crop-ratio-button [width]="16" [height]="9"></app-crop-ratio-button>
                </ul>
            </div>
        </li>
        <li class="menu-item">
            <button class="menu-button">Orientation</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <app-rotate-button [angle]="90"></app-rotate-button>
                    <app-rotate-button [angle]="-90"></app-rotate-button>
                    <!--<li class="menu-item"><button class="submenu-button" id="btn-rotate-clockwise">Rotate +90</button></li>-->
                    <!--<li class="menu-item"><button class="submenu-button" id="btn-rotate-counter-clockwise">Rotate -90</button></li>-->
                    <li class="menu-item"><button class="submenu-button" id="btn-flip-x">FilpX</button></li>
                    <li class="menu-item"><button class="submenu-button" id="btn-flip-y">FilpY</button></li>
                </ul>
            </div>
        </li>
        <li class="menu-item">
            <button class="menu-button" id="btn-draw-line">Drawing</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-free-drawing">Free<br>Drawing</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-line-drawing">Line<br>Drawing</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-size">Brush<br>Size</button>
                        <div class="hiddenmenu">
                            <input id="input-brush-range" type="range" min="10" max="100" value="50" />
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-text-color">Brush<br>Color</button>
                        <div class="hiddenmenu">
                            <div id="tui-brush-color-picker"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu-item">
            <button class="menu-button" id="btn-draw-shape">Shape</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-add-rect">Rectagle</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-add-square">Square</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-add-ellipse">Ellipse</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-add-circle">Circle</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-add-triangle">Triangle</button>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-stroke-size">Stroke<br>Size</button>
                        <div class="hiddenmenu">
                            <input id="input-stroke-range" type="range" min="1" max="100" value="10" />
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-shape-color">Color</button>
                        <div class="hiddenmenu">
                            <div class="top">
                                <label for="fill-color"><input type="radio" id="fill-color" name="select-color-type" value="fill" checked="checked" /> Fill</label>
                                <label for="stroke-color"><input type="radio" id="stroke-color" name="select-color-type" value="stroke" /> Stroke</label>
                                <label for="input-check-transparent"><input type="checkbox" id="input-check-transparent">Transparent</label>
                            </div>
                            <div id="tui-shape-color-picker"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu-item">
            <button class="menu-button">Icon</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <li class="menu-item"><button class="submenu-button" id="btn-add-arrow-icon">Arrow<br>Icon</button></li>
                    <li class="menu-item"><button class="submenu-button" id="btn-add-cancel-icon">Cancel<br>Icon</button></li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-icon-color">Color</button>
                        <div class="hiddenmenu">
                            <div id="tui-icon-color-picker"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu-item">
            <button class="menu-button" id="btn-add-text">Text</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-size">Size</button>
                        <div class="hiddenmenu">
                            <input id="input-text-size-range" type="range" min="10" max="240" value="120">
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-style">Style</button>
                        <div class="hiddenmenu">
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="bold"><b>Bold</b></button>
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="italic"><i>Italic</i></button>
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="underline"><u>Underline</u></button>
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-align">Align</button>
                        <div class="hiddenmenu">
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="left">Left</button>
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="center">Center</button>
                            <button class="hiddenmenu-button btn-change-text-style" data-style-type="right">Right</button>
                        </div>
                    </li>
                    <li class="menu-item">
                        <button class="submenu-button" id="btn-change-text-color">Color</button>
                        <div class="hiddenmenu">
                            <div id="tui-text-color-picker"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Filter Button -->
        <li class="menu-item">
            <button class="menu-button" id="btn-set-filter">Filter</button>
            <div class="submenu">
                <button class="btn-prev">&lt;</button>
                <ul class="scrollable">
                    <app-grayscale-button></app-grayscale-button>
                    <app-brightness-button></app-brightness-button>
                </ul>
            </div>
        </li>
        <!-- Close Editor Button -->
        <li class="menu-item">
            <button class="menu-button" id="btn-close" (click)="onClose($event)">Close</button>
        </li>
    </ul>
    <p class="msg">Menu Scrolling <b>Left ⇔ Right</b></p>
</div>