<div class="pulldown-super-wrapper image-pulldown" #pulldown>
	<div class="pulldown-inner">

		<div mat-dialog-content>
			<div>
				<mat-form-field>
					<input matInput placeholder="Enter File Name" [(ngModel)]="filename">
				</mat-form-field>
			</div>

			<div>
				<mat-form-field>
					<input matInput placeholder="Enter directory path" [(ngModel)]="directory">
				</mat-form-field>
			</div>

			<div>
				<mat-checkbox [(ngModel)]="isLibraryAsset">Add Asset to Library</mat-checkbox>
			</div>
		</div>

		<div class="buttons mt-3">
			<button class="btn mr-3" cdkFocusInitial (click)="onFinish()">Finish</button>
			<button class="btn mr-3" (click)="closePulldown()">Cancel</button>
		</div>
	</div>
</div>