.stock-photo-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}
.flickr-album-wrapper {
    display: inline-block;
    cursor: pointer;
}
.flickr-album-thumb {
    width: 350px;
    margin: 5px;
}
