<div class="stock-photo-wrapper">
    <a *ngIf="flickrLink" [href]="flickrLink" target="_blank">Flickr</a>

    <div>
        <div *ngFor="let album of albums" (click)="chooseAlbum(album.id)" class="flickr-album-wrapper" [style.display]="hasPhotos() ? 'none' : 'initial'">
            <img [src]="album.primary_photo_extras.url_q" class="flickr-album-thumb" />
            <div>{{album.title._content}}</div>
        </div>
    </div>

    <div *ngIf="hasPhotos()">
        <div (click)="goBackToAlbums()"> < </div>
        <div *ngFor="let photo of photos" class="flickr-album-wrapper">
            <img class="flickr-album-thumb" [src]="photo['url_q']" (click)="selectImage(photo['url_o'])" />
            <button mat-raised-button *ngIf="photo['url_o'] === displayLink" (click)="setImage()">Choose</button>
        </div>
    </div>

    <div *ngIf="loading" class="lds-dual-ring"></div>
</div>