<li class="menu-item">
    <button class="submenu-button" id="btn-set-brightness" (click)="toggle(editor.imageEditor, brightness_range)">Brightness</button>
    <div class="hiddenmenu">
        <mat-slider
                #brightness_range
                thumbLabel
                (change)="set(editor.imageEditor, $event)"
                [displayWith]="brightnessLabel"
                tickInterval="1"
                min="0"
                max="100"
                value="50">
        </mat-slider>
    </div>
</li>