<div class="link-handler-wrapper">
    <mat-form-field style="display: block">
        <input matInput placeholder="Enter Image Link" value="" (keyup)="onKey($event)">
    </mat-form-field>

    <div style="display: inline-block" *ngIf="displayLink">
        <img [src]="displayLink" style="max-width: 100%" />
        <div>
            <button mat-raised-button style="float: right" (click)="setImage()">Choose</button>
        </div>
    </div>
</div>