<div class="facebook-wrapper">
    <div [style.display]="is_logged_in ? 'none' : 'inherit'"
         class="fb-login-button"
         data-max-rows="1"
         data-size="large"
         data-button-type="continue_with"
         data-show-faces="false"
         data-auto-logout-link="false"
         data-use-continue-as="true">
    </div>

    {{responseLoading}} - {{imagesLoading}}
    <div *ngIf="responseLoading || imagesLoading" class="lds-dual-ring"></div>

    <div *ngFor="let image of images" (click)="selectImage(image)"
         [className]="image === displayLink ? 'fb-selected' : ''" style="display: inline-block"
    >
        <img [src]="image" class="facebook-photos" (load)="load()" [hidden]="imagesLoading" />

        <button mat-raised-button *ngIf="image === displayLink" (click)="setImage()">Choose</button>
    </div>
</div>
