<span>
	<h2>Media Library</h2>

		<input matInput #term placeholder="Find file(s)" (keyup)="setTerm(term.value)" />
		<mat-icon matSuffix>search</mat-icon>

		<span class="sort-state-container">
			<mat-icon (click)="sort()">{{directoryService.sortStates[sortState].name}}</mat-icon>
		</span>

		<div class="add-folder-button" (click)="openAddFolderDialog()">
			<mat-icon matSuffix>add_circle</mat-icon>
		</div>

<!--	<div *ngIf="from_library">-->
		<app-editor [imageHost]="imageHost"
					[videoHost]="videoHost"
					unsplashKay="48f5a55e0904ca817aa21b20bb70e49a66b7e2279c5dc595aa0e980708473d5c"
					fbAppId="307635209589887"
					[callback]="uploadCallback"
					[in_library]="true"
					[user]="user"
		></app-editor>
<!--	</div>-->
</span>

<div *ngIf="isLoading; else tree" style="height: 300px;">
	<div class="bounce1">L</div>
	<div class="bounce2">o</div>
	<div class="bounce1">a</div>
	<div class="bounce2">d</div>
	<div class="bounce1">i</div>
	<div class="bounce2">n</div>
	<div class="bounce1">g</div>
	<div class="bounce2">.</div>
	<div class="bounce1">.</div>
	<div class="bounce2">.</div>
</div>
<ng-template #tree>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
				#drawer
				class="sidenav"
				fixedInViewport="true"
				[mode]="'push'"
				[opened]="false"
				[position]="'start'"
		>
			<div *ngIf="this.selectedFile">
				<mat-icon *ngIf="isFolderType(this.selectedFile); else showFileImage">folder</mat-icon>
				<ng-template #showFileImage>
					<img [src]="this.selectedFile.path" class="asset-image" (error)="showPending($event)">
				</ng-template>
				<div>
					{{this.selectedFile.name}}
				</div>

				<button *ngIf="isFolderType(this.selectedFile)" mat-button (click)="doubleClick(this.selectedFile)">Open</button>

				<input matInput #rename placeholder="Rename File" /><button mat-button (click)="renameFile(this.selectedFile, rename.value)">Rename</button>
				<button mat-button (click)="deleteAsset(this.selectedFile)">Delete</button>

				<div>
					<mat-select placeholder="Move to Folder" #newDirectory>
						<mat-option *ngFor="let folder of directoryService.getAllDirectories(this.selectedFile)" [value]="folder">
							{{folder}}
						</mat-option>
					</mat-select>
					<div class="move-failed-flash">Must select Folder</div>
					<button mat-button (click)="directoryService.moveFile(this.selectedFile, newDirectory.value, sortState, currentDirectoryToString(), editor.user.org_logged_as)">Move</button>
				</div>

				<input matInput #newMove placeholder="Move to new Folder" /><button mat-button (click)="directoryService.moveFile(this.selectedFile, newMove.value, sortState, currentDirectoryToString(), editor.user.org_logged_as, true)">Move</button>
			</div>

			<button mat-button (click)="closeDrawer(this.selectedFile)">Close</button>
		</mat-sidenav>
	</mat-sidenav-container>

	<div>
		<h2>
		<span *ngFor="let dir of currentDirectory; index as i; last as isLast" (click)="onBackPath(i+1)" class="directory-token">
			{{dir}}
			<span *ngIf="currentDirectory.length > 1 && isLast == false"> ></span>
		</span>
		</h2>
	</div>
	<div *ngIf="currentDepth > 0" class="back-arrow" (click)="onBackPath(1)">
		<mat-icon>arrow_left</mat-icon>
	</div>

	<div class="folder-section example-list">
		<div *ngFor="let file of directoryService.files" style="display: inline-block" (drop)="drop($event, file)" (dragover)="allowDrop($event)" (click)="singleClick(file)" (dblclick)="doubleClick(file)">
			<div *ngIf="file" draggable="true" (dragstart)="dragstart($event, file)">
				<div [ngSwitch]="getFileType(file)" class="asset-folder-container file-box" [ngClass]="{'show-image': toggleImages(file),'hide-image': !toggleImages(file)}">
					<div *ngSwitchCase="'folder'">
						<div class="asset-folder">
							<mat-icon>folder</mat-icon>
							<div class="folder-label">{{file.name}}</div>
						</div>
					</div>
					<div *ngSwitchCase="'image'">
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<img class="asset-image" src="{{directoryService.getResourceURL(file)}}" (error)="showPending($event)"/>
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
					<div *ngSwitchCase="'video'">
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<video muted controls class="asset-image js-file-type">
							<source src="{{directoryService.getResourceURL(file)}}" type="video/mp4" />
							Your browser does not support HTML5 video.
						</video>
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
					<div *ngSwitchDefault>
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<img class="asset-image" src='//:0' />
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div [ngClass]="{'show-image': hasResults(),'hide-image': !hasResults()}">No Results</div>
</ng-template>
