.stock-photo-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}
.stock-photos {
    width: 350px;
}
.stock-selected {
    border: 2px solid blue;
}
.stock-pages {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: 3px outset;
}
.selected-page {
    background-color: antiquewhite;
}
