<div class="stock-photo-wrapper">
    <mat-form-field style="display: block">
        <input matInput placeholder="Search Stock Photos" value="" (keyup)="keyUp.next($event)" [(ngModel)]="query">
    </mat-form-field>

    <div *ngIf="!total">
        <div *ngIf="responseLoader && responseLoader.loading" class="lds-dual-ring"></div>
        <div *ngIf="query">No Results</div>
    </div>

    <div style="display: inline-block" *ngIf="total">
        <img *ngFor="let image of images" [src]="image.urls.thumb"
             [className]="image.urls.regular === displayLink ? 'stock-selected stock-photos' : 'stock-photos'"
             (click)="selectImage(image)" (load)="load()"
        />
		<div *ngIf="loading" class="lds-dual-ring"></div>

        <div *ngIf="displayLink">
            <button mat-raised-button style="float: right" (click)="setImage()">Choose</button>
        </div>
    </div>
</div>
