.item-loading-modal {
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}

.item-loading-progress {
	position: relative;
	width:50%;
	height:25px;
	top:50%;
	margin: auto;
	border: 1px solid white;
}

.item-loading-message {
	text-align: center;
	position: relative;
	top:50%;
	margin: auto;
}

.item-loading-progress-bar {
	background: lightblue;
	height: 100%;
	width: 0%;
}

.loading-message-error {
	color: red;
}

.loading-message-success {
	color: white;
}