<div mat-dialog-content>
	<mat-form-field>
		<input matInput [(ngModel)]="this.data.directory" placeholder="Enter directory path">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onClose()">Close</button>
	<button mat-button [mat-dialog-close]="this.data.directory" cdkFocusInitial>Add</button>
</div>
