<span>
	<h2>Media Library</h2>

		<input matInput #term placeholder="Find file(s)" (keyup)="setTerm(term.value)" />
		<mat-icon matSuffix>search</mat-icon>

		<span class="sort-state-container">
			<mat-icon (click)="sort()">{{directoryService.sortStates[sortState].name}}</mat-icon>
		</span>
</span>

<div *ngIf="isLoading; else tree" style="height: 300px;">
	<div class="bounce1">L</div>
	<div class="bounce2">o</div>
	<div class="bounce1">a</div>
	<div class="bounce2">d</div>
	<div class="bounce1">i</div>
	<div class="bounce2">n</div>
	<div class="bounce1">g</div>
	<div class="bounce2">.</div>
	<div class="bounce1">.</div>
	<div class="bounce2">.</div>
</div>
<ng-template #tree>
	<div>
		<h2>
		<span *ngFor="let dir of currentDirectory; index as i; last as isLast" (click)="onBackPath(i+1)" class="directory-token">
			{{dir}}
			<span *ngIf="currentDirectory.length > 1 && isLast == false"> ></span>
		</span>
		</h2>
	</div>
	<div *ngIf="currentDepth > 0" class="back-arrow" (click)="onBackPath(1)">
		<mat-icon>arrow_left</mat-icon>
	</div>

	<div class="folder-section example-list">
		<div *ngFor="let file of directoryService.files" style="display: inline-block" (drop)="drop($event, file)" (dragover)="allowDrop($event)" (click)="singleClick(file)" (dblclick)="doubleClick(file)">
			<div *ngIf="file" draggable="true" (dragstart)="dragstart($event, file)">
				<div [ngSwitch]="getFileType(file)" class="asset-folder-container file-box" [ngClass]="{'show-image': toggleImages(file),'hide-image': !toggleImages(file)}">
					<div *ngSwitchCase="'folder'">
						<div class="asset-folder">
							<mat-icon>folder</mat-icon>
							<div class="folder-label">{{file.name}}</div>
						</div>
					</div>
					<div *ngSwitchCase="'image'">
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<img class="asset-image" src="{{directoryService.getResourceURL(file)}}" (error)="showPending($event)"/>
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
					<div *ngSwitchCase="'video'">
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<video muted controls class="asset-image js-file-type">
							<source src="{{directoryService.getResourceURL(file)}}" type="video/mp4" />
							Your browser does not support HTML5 video.
						</video>
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
					<div *ngSwitchDefault>
						<div *ngIf="hasTerm()">{{directoryService.getURLDirectory(file)}}</div>
						<img class="asset-image" src='//:0' />
						<div style="font-size: xx-small; word-break: break-all">{{file.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div [ngClass]="{'show-image': hasResults(),'hide-image': !hasResults()}">No Results</div>
</ng-template>
