.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.folder-section {
  width: 100%;
}

.asset-folder-container {
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: initial;
}
.asset-folder-container:hover {
  background-color: lightgray;
}

.asset-image {
  width: 100%;
}

.asset-folder {
  width: 300px;
}

.folder-icon {
  font-size: xx-large;
}

.selected-folder {
  border: 1px solid black;
}

.hide-image {
  display: none !important;
}

.show-image {
  display: initial;
  border: 0px;
}

.file-box {
  display: inline-block;
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
}

.arrow-left-icon {
  cursor: pointer;
}

.directory-token {
  cursor: pointer;
}

.sort-state-container {
  width: initial;
  height: initial;
  border: white outset;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: initial;
  padding: 5px;
}
.sort-state-container:hover {
  background-color: lightgray;
}

.bounce1 {
  position :relative;
  display: inline-block;
  animation-delay: 0s;
  animation: bounce1 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bounce2 {
  position :relative;
  display: inline-block;
  animation-delay: 0s;
  animation: bounce2 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: translate3d(0, 10px,0);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce1 {
  from { transform: translate3d(0, 0px,0); }
  to   { transform: translate3d(0, 10px,0); }
}

/* Standard syntax */
@keyframes bounce1 {
  from { transform: translate3d(0, 0px,0); }
  to   { transform: translate3d(0, 10px,0); }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce2 {
  from { transform: translate3d(0, 10px,0); }
  to   { transform: translate3d(0, 0px,0); }
}

/* Standard syntax */
@keyframes bounce2 {
  from { transform: translate3d(0, 10px,0); }
  to   { transform: translate3d(0, 0px,0); }
}

mat-sidenav {
  left: 0px;
}

.sidenav-container {
  position: initial;
}

.sidenav {
  position: fixed;
}
