<div class="header">
	<div>
		<span class="name">Video Editor</span>
	</div>
	<div class="menu">
		<button class="button" (click)="goBack()"><span>&lt;</span></button>
		<button class="button disabled" id="btn-undo" (click)="undo()">
			<mat-icon [matBadge]="undos" matBadgePosition="above before">
				<mat-icon style="margin-top: 5px;">undo</mat-icon>
			</mat-icon>
		</button>
		<button class="button disabled" id="btn-redo" (click)="redo()">
			<mat-icon [matBadge]="redos" matBadgePosition="above after">
				<mat-icon style="margin-top: 5px;">redo</mat-icon>
			</mat-icon>
		</button>
		<button class="button" id="btn-upload"><mat-icon style="margin-top: 5px;">cloud_upload</mat-icon></button>
	</div>
</div>
<!-- Image editor area -->
<div class="tui-image-editor">
	<app-item-loading></app-item-loading>

	{{sourceUrl}}

	<video #myVideo class="image-uploader-canvas video-play-button" (window:resize)="onResize($event)" muted
		   (error)="handleError($event)" (click)="onClick($event)" (timeupdate)="onPlaying($event)" (progress)="onProgress($event)"
		   [src]="sourceUrl"
	>
		Your browser does not support HTML5 video.
		<source [src]="sourceUrl" type="video/mp4" />
	</video>
</div>
<!-- Image editor controls - bottom area -->
<div class="tui-image-editor-controls">
	<ul class="scrollable">
		<li class="menu-item">
			<button class="menu-button" id="btn-crop">Mute</button>
		</li>
		<!-- Close Editor Button -->
		<li class="menu-item">
			<button class="menu-button" id="btn-close" (click)="onClose($event)">Close</button>
		</li>
	</ul>
	<p class="msg">Menu Scrolling <b>Left ⇔ Right</b></p>
</div>