	<!--<app-main-menu [canvasContainers]="canvasContainers" [multiple]="multiple"></app-main-menu>-->
	<!--<app-canvas-containers></app-canvas-containers>-->
	<app-image-editor *ngIf="editor.asset && editor.isImage()"
		[editor]="editor"
		[pulldown]="pulldown"
	></app-image-editor>

	<div *ngIf="editor.asset && editor.isVideo()">
		<app-video-editor #video
            [file]="editor.asset"
		>
		</app-video-editor>
		<!--<app-video-options-container #videoOptions [video]="video"></app-video-options-container>-->
	</div>

	<app-asset-selector *ngIf="!editor.asset"
		[editor]="editor"
		[pulldown]="pulldown"
	></app-asset-selector>