<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
<link type="text/css" href="https://cdn.rawgit.com/nhnent/tui.color-picker/v2.0.0/dist/tui-color-picker.css" rel="stylesheet">

<div ondragstart="return false;" ondrop="return false;">
	<app-upload-initiator></app-upload-initiator>

<!--	<app-main-modal *ngIf="editor.is_modal_open"></app-main-modal>-->
</div>
