<div class="pulldown-super-wrapper image-pulldown" #pulldown>
    <div class="pulldown-inner">

        <div *ngIf="file">
            <mat-icon *ngIf="file.type === 'folder'; else showFileImage">folder</mat-icon>
            <ng-template #showFileImage>
                <img [src]="file.path" class="asset-image">
            </ng-template>
            <div>
                {{file.name}}
            </div>

            <button mat-button (click)="onOpen()">Open</button>

            <input matInput #rename placeholder="Rename File" /><button mat-button (click)="onRename(rename.value)">Rename</button>
            <button mat-button (click)="onDelete()">Delete</button>

            <div>
                <mat-select placeholder="Move to Folder" #newDirectory>
                    <mat-option *ngFor="let folder of directories" [value]="folder">
                        {{folder}}
                    </mat-option>
                </mat-select>
                <div class="move-failed-flash">Must select Folder</div>
                <button mat-button (click)="onMove(newDirectory.value)">Move</button>
            </div>

            <input matInput #newMove placeholder="Move to new Folder" /><button mat-button (click)="onMove(newMove.value)">Move</button>
        </div>

        <div class="buttons mt-3">
            <button class="btn mr-3" (click)="closePulldown()">Cancel</button>
        </div>
    </div>
</div>